src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="fa483907-0755-4f90-a186-d78395c5b35a" >
		<file:connection workingDir="C:\Users\vivekdoshi\Downloads\" />
	</file:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1b60c24f-2b57-4237-847d-dfad132c46c0" basePath="/v1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow1" doc:id="e2e3446f-c91d-4bb9-96d1-e78354295c72" >
		<http:listener doc:name="Listener" doc:id="2d60badc-c646-4297-8ba4-e93cbc11c79a" config-ref="HTTP_Listener_config" path="/hello"/>
		<ee:transform doc:name="Transform Message" doc:id="71ddee4e-0b4d-4dd0-91fb-b5d012695859">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Hello there!"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ab227181-f1a7-4c71-a8d3-530d997c70ab" message="#[sizeOf(payload)]"/>
	</flow>
</mule>
